* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin: auto;
    overflow: hidden;
    min-width: 630px;
}

#grid {
    margin: auto;
    user-select: none;
    border-collapse: collapse;
    background-color: white;
}

.navBar {
    width: 100%;
    background-color: #222222;
    overflow: hidden;
}

.navBar .navButton {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar .slidecontainer {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 2px 16px 14px 16px;
}

.navBar .slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 5px; 
    border-radius: 5px;
    background: white; 
    outline: none;
    transform: rotate(180deg);
}
  
.navBar .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 17px; 
    height: 17px; 
    border-radius: 50%;
    background: #ff7931; 
    cursor: pointer;
}
  
.navBar .slider::-moz-range-thumb {
    width: 17px; 
    height: 17px; 
    border-radius: 50%;
    background: #ff7931; 
    cursor: pointer; 
}

.navBar #github {
    float: right;
    margin: 8px 10px 0px 0px;
}

#key {
    width: 100%;
    height: 15%;
    overflow: hidden;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#key li {
    margin: auto;
    font-size: 16px;
    color: #222222;
    padding: 14px 16px;
    list-style: none;
    display: inline-block;
}

#key li div {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-bottom: -5%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: inline-block;
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content svg {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

.dropdown-content svg path {
    fill: white;
}

.dropdown-content svg:hover path {
    fill: #ff7931;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navBar a:hover, .dropdown:hover .dropbtn {
    color: #ff7931;
    cursor: pointer;
}

.navBar a:active, .dropdown-content a:active, .dropdown-content svg:active {
    transform: scale(0.9);
}


#grid td {
    user-select: none;
    empty-cells: show;
    width: 25px;
    height: 25px;
}

.visited {
    background-color: #ff7931;
    animation-name: visitedAnimation;
    animation-duration: 0.5s;
}

.unvisited {
    border: 1px solid #f8d2bd;
}

.wall {
    background-color: #222222;
    animation-name: wallAnimation;
    animation-duration: 0.5s;
}

.start {
    background-color: rgb(3, 187, 80);
    animation-name: startAnimation;
    animation-duration: 0.5s;
}

.target {
    background-color: rgb(187, 3, 18);
    animation-name: targetAnimation;
    animation-duration: 0.5s;
}

.highlight {
    background-color: rgb(233, 250, 0);
    animation-name: highlightAnimation;
    animation-duration: 0.5s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    top: 3%;
    z-index: 2;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-content h3 {
    margin-bottom: 1%;
    margin-top: 1.5%;
}

.modal-content #advHeader {
    color: rgb(3, 187, 80);
}

.modal-content #advantages li {
    list-style-type: "+ ";
}

.modal-content #disHeader {
    color: rgb(187, 3, 18);
}

.modal-content #disadvantages {
    list-style-type: "- ";
}

.modal-content ul {
    margin-left: 30px;
}

.modal-header {
    padding: 20px 16px;
    background-color: #ff7931;
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 20px 16px;
}
  
.modal-footer {
  padding: 10px 16px;
  background-color: #ff7931;
  color: white;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 3%; opacity: 1}
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes startAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes targetAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes visitedAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes highlightAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}